@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.border-1 {
  border-width: 1px;
}

.translate-y--28 {
  transform: translateY(-12rem);
}
.translate-y--1 {
  transform: translateY(-2rem);
}

.radial-violet {
  background: radial-gradient(#a060ff0c, #17233967);
}

@responsive {
  .radial-violet-tablet {
    background: radial-gradient(#a060ff18, #17233967) !important;
  }
}
